.grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-gap: 10px;
    width: 90%;
    margin-top: 20px;
    margin: auto;
    height: auto;
}

.image {
    margin-top: 30px;
    text-align: center;
}